<h3>Companies:</h3>
<div class="mat-elevation-z8">
  <button mat-raised-button color="primary" routerLink="/companies/add">Add Company</button>
  <button mat-raised-button color="primary"
          [routerLink]="['/companies/', selection.isEmpty() ? '' : selection.selected[0].id]"
          [disabled]="selection.isEmpty()">Edit Company
  </button>
  <button mat-raised-button color="primary"
          [disabled]="selection.isEmpty()" (click)="deleteSelectedCompany()">Delete Company
  </button>
  <button mat-raised-button color="primary"
          [routerLink]="['/companies/', selection.isEmpty() ? '' : selection.selected[0].id, 'contractors']"
          [disabled]="selection.isEmpty()">Related Contractors
  </button>
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let company">{{company.id}}</td>
    </ng-container>

    <!-- ShortName Column -->
    <ng-container matColumnDef="shortName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Short Name</th>
      <td mat-cell *matCellDef="let company">{{company.shortName}}</td>
    </ng-container>

    <!-- FullName Column -->
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
      <td mat-cell *matCellDef="let company">{{company.fullName}}</td>
    </ng-container>

    <!-- Zip Column -->
    <ng-container matColumnDef="zip">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Zip</th>
      <td mat-cell *matCellDef="let company">{{company.zip}}</td>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
      <td mat-cell *matCellDef="let company">{{company.city}}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let company">{{company.email}}</td>
    </ng-container>

    <!-- Nip Column -->
    <ng-container matColumnDef="nip">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>NIP</th>
      <td mat-cell *matCellDef="let company">{{company.nip}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let company; columns: displayedColumns;" (click)="selection.toggle(company)"></tr>
  </table>

  <mat-paginator #paginator
                 [length]="10"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[10, 25, 50]">
  </mat-paginator>
</div>
