<form [formGroup]="contractorForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Edit Contractor</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Short Name" formControlName="shortName">
            <mat-error *ngIf="contractorForm.controls['shortName'].hasError('required')">
              Short name is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="contractorForm.controls['shortName'].hasError('unique')">
              Short name must be <strong>unique</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Full name" formControlName="fullName">
            <mat-error *ngIf="contractorForm.controls['fullName'].hasError('required')">
              Full name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="NIP" formControlName="nip"></textarea>
            <mat-error *ngIf="contractorForm.controls['nip'].hasError('required')">
              NIP is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="contractorForm.controls['nip'].hasError('unique')">
              NIP must be <strong>unique</strong>
            </mat-error>
            <mat-error *ngIf="contractorForm.controls['nip'].hasError('invalid')">
              NIP is <strong>invalid</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Email" formControlName="email"></textarea>
            <mat-error *ngIf="contractorForm.controls['email'].hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="contractorForm.controls['email'].hasError('invalid')">
              Email is <strong>invalid</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="City" formControlName="city">
            <mat-error *ngIf="contractorForm.controls['city'].hasError('required')">
              City is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #postalCode maxlength="5" placeholder="Postal Code" type="number" formControlName="zip">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Street" formControlName="street"></textarea>
            <mat-error *ngIf="contractorForm.controls['street'].hasError('required')">
              Street is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
