<h3>Invoices:</h3>
<div class="mat-elevation-z8">
  <button mat-raised-button color="primary" routerLink="/invoices/add">Add Invoice</button>
  <button mat-raised-button color="primary"
          [routerLink]="['/invoices/', selection.isEmpty() ? '' : selection.selected[0].id]"
          [disabled]="selection.isEmpty()">Edit Invoice
  </button>
  <button mat-raised-button color="primary"
          [disabled]="selection.isEmpty()" (click)="deleteSelectedInvoice()">Delete Invoice
  </button>
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let invoice">{{invoice.id}}</td>
    </ng-container>

    <!--invoiceNumber Column-->
    <ng-container matColumnDef="invoiceNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Number</th>
      <td mat-cell *matCellDef="let invoice">{{invoice.invoiceNumber}}</td>
    </ng-container>

    <!--issueDate Column-->
    <ng-container matColumnDef="issueDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Issue Date</th>
      <td mat-cell *matCellDef="let invoice">{{invoice.issueDate | date}}</td>
    </ng-container>

    <!--dueDate Column-->
    <ng-container matColumnDef="dueDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Due Date</th>
      <td mat-cell *matCellDef="let invoice">{{invoice.dueDate | date}}</td>
    </ng-container>

    <!--netTotalAmount Column-->
    <ng-container matColumnDef="netTotalAmount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Netto Total Amount</th>
      <td mat-cell *matCellDef="let invoice">{{invoice.netTotalAmount}}</td>
    </ng-container>

    <!--taxTotalAmount Column-->
    <ng-container matColumnDef="taxTotalAmount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tax Total Amount</th>
      <td mat-cell *matCellDef="let invoice">{{invoice.taxTotalAmount}}</td>
    </ng-container>

    <!--grossTotalAmount Column-->
    <ng-container matColumnDef="grossTotalAmount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Gross Total Amount</th>
      <td mat-cell *matCellDef="let invoice">{{invoice.grossTotalAmount}}</td>
    </ng-container>

    <!--Company Short Name Column-->
    <ng-container matColumnDef="companyShortName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</th>
      <td mat-cell *matCellDef="let invoice">{{invoice.companyShortName}}</td>
    </ng-container>

    <!--Contractor Short Name Column-->
    <ng-container matColumnDef="contractorShortName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Contractor Name</th>
      <td mat-cell *matCellDef="let invoice">{{invoice.contractorShortName}}</td>
    </ng-container>

    <!--
  companyId: number;
  contractorId: number;
  -->
    <!-- ShortName Column -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let invoice; columns: displayedColumns;" (click)="selection.toggle(invoice)"></tr>
  </table>

  <mat-paginator #paginator
                 [length]="10"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[10, 25, 50]">
  </mat-paginator>
</div>
