<form [formGroup]="invoiceForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Edit Invoice</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="">
            <input matInput placeholder="Invoice Number" formControlName="invoiceNumber">
            <mat-error *ngIf="invoiceForm.controls['invoiceNumber'].hasError('required')">
              Invoice Number is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="text" placeholder="Select Company" aria-label="Number" matInput [formControl]="companySelect"
                   [matAutocomplete]="company">
            <mat-autocomplete #company="matAutocomplete" [displayWith]="displayCompanyName" >
              <mat-option *ngFor="let option of filteredCompanies | async" [value]="option">
                {{option.shortName}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input type="text" placeholder="Select Contractor" aria-label="Number" matInput [formControl]="contractorSelect"
                   [matAutocomplete]="contractor">
            <mat-autocomplete #contractor="matAutocomplete" [displayWith]="displayContractorName" >
              <mat-option *ngFor="let option of filteredContractors | async" [value]="option">
                {{option.shortName}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <mat-form-field>
          <input matInput [matDatepicker]="issueDate" placeholder="Issue Date" formControlName="issueDate">
          <mat-datepicker-toggle matSuffix [for]="issueDate"></mat-datepicker-toggle>
          <mat-datepicker #issueDate></mat-datepicker>
          <mat-error *ngIf="invoiceForm.controls['issueDate'].hasError('required')">
            Issue Date is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input matInput [matDatepicker]="dueDate" placeholder="Due Date" formControlName="dueDate">
          <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>
          <mat-datepicker #dueDate></mat-datepicker>
          <mat-error *ngIf="invoiceForm.controls['dueDate'].hasError('required')">
            Due Date is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="Net Total Amount" formControlName="netTotalAmount">
          <mat-error *ngIf="invoiceForm.controls['netTotalAmount'].hasError('required')">
            Net Total Amount is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="Tax Total Amount" formControlName="taxTotalAmount">
          <mat-error *ngIf="invoiceForm.controls['taxTotalAmount'].hasError('required')">
            Tax Total Amount is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="Gross Total Amount" formControlName="grossTotalAmount">
          <mat-error *ngIf="invoiceForm.controls['grossTotalAmount'].hasError('required')">
            Gross Total Amount is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
