.full-width-table {
  width: 100%;
}

.margin, button {
  margin: 8px;
}
/*.example-form {*/
  /*min-width: 150px;*/
  /*max-width: 500px;*/
  /*width: 100%;*/
/*}*/
/*.example-full-width {*/
  /*width: 100%;*/
/*}*/

